@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  size: 100%;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}